.aside {
  margin-right: 28px;

  @media (width <=992px) {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s;
    background: rgba(#f3f3f3, 0.2);

    &.opened {
      opacity: 1;
      visibility: visible;
      background-color: rgba(#000, 0.2);
    }
  }

  &__box {
    width: 263px;
    background: #fff;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    padding: 20px 20px 30px;

    @media (width <=992px) {
      min-height: 100%;
      transform: translate(-200%, 0);

      &.opened {
        transform: translate(0%, 0);
      }
    }
  }

  &__close {
    position: absolute;
    right: 20px;
    top: 20px;
    display: none;

    @media (width <=992px) {
      display: block;
      width: 30px;
      height: 30px;
    }

    img {
      width: 100%;
      height: 100%;
    }
  }

  &__link {
    font-size: 12px;
    line-height: 14px;
    display: inline-block;
    color: #245462;
    margin-bottom: 10px;
  }

  &__btn {
    font-size: 12px;
    line-height: 14px;
    color: #fff;
    background-color: #245462;
    padding: 7px 30px;
  }
}
