.categories {
  @media #{$tablet} {
    flex-grow: 1;
  }

  &__list {
    display: flex;
    justify-content: space-between;

    @media #{$tablet} {
      justify-content: space-between;
    }
  }

  &__item {
    position: relative;
    flex-grow: 1;
    height: inherit;

    &:hover {
      .header__sub-list {
        display: block;
      }
    }
  }

  &__item-a {
    display: flex;
    align-items: center;
    padding: 24px;
    background-color: transparent;
    height: 100%;

    // @media (width >=767px) {
    &:hover {
      background: #245462;
      color: #fff;

      path {
        fill: white;
      }
    }
    // }

    @media #{$tablet} {
      padding: 24px 15px;
      flex-direction: column;
      text-align: center;
    }

    @media #{$mobile} {
      padding: 15px;
      justify-content: center;
    }

    @media (width <=510px) {
      padding: 4px;
    }
  }

  &__item-img {
    display: block;
  }

  &__link {
    margin-left: 10px;

    @media #{$tablet} {
      display: inline-block;
      margin-top: 5px;
      margin-left: 0;
    }

    @media #{$mobile} {
      font-size: 12px;
      line-height: 16px;
    }

    @media (width <=510px) {
      font-size: 9px;
      line-height: 11px;
    }
  }
}
