.favorites {
  &__empty {
    min-height: 300px;
    height: 40vh;
    background-image: url('/images/chair.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 15%;
  }

  &__empty-text {
    font-size: 36px;
    line-height: 42px;
    font-weight: 700;
    text-align: center;
    background: #f1d152;

    @media #{$mobile} {
      font-size: 25px;
      line-height: 31px;
    }
  }
}
