.item-sales {
  position: relative;
  padding: 74px 0 0;
  background: #fff;
  box-shadow: 0 1px 9px rgb(0 0 0 / 11%);


  @media #{$mobile} {
    position: relative;
    padding: 40px 0 0;
    background: #fff;
  }

  &:hover  &__bottom {
    z-index: 10;
    transform: translate(0, 0);
    opacity: 1;
    box-shadow: 0 1px 9px rgb(0 0 0 / 11%);
  }

  &__label {
    position: absolute;
    top: 21px;
    left: 18px;
    display: flex;
    align-items: center;
    font-size: 12px;
    line-height: 14px;
    color: #000;

    img {
      display: inline-block;
      margin-right: 7px;
    }
  }

  &__like {
    position: absolute;
    z-index: 0;
    top: 21px;
    right: 16px;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 100%;
      height: 100%;
    }
  }

  &__box {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0 20px;

    @media #{$mobile} {
      padding: 0 10px;
    }
  }

  &__img {
    display: flex;
    justify-content: center;
    max-width: 200px;
    margin: 0 auto;

    img {
      max-width: 100%;
    }
  }

  &__title {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    display: block;
    margin: 50px 0 6px;
    transition: $transition;

    @media #{$mobile} {
      font-size: 13px;
      line-height: 15px;
    }

    &:hover {
      color: #209cee;
    }
  }

  &__type {
    display: block;
    font-size: 11px;
    line-height: 13px;
    margin-top: auto;
    margin-bottom: 9px;
    text-transform: capitalize;
  }

  &__price {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }

  &__price-new {
    font-weight: 500;
    margin-right: 6px;

    @media (width <=510px) {
      font-size: 13px;
      line-height: 15px;
    }
  }

  &__price-old {
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    text-decoration-line: line-through;
    color: #ccc;
  }

  &__bottom {
    position: absolute;
    z-index: -1;
    right: 0;
    left: 0;
    top: 100%;

    flex-direction: column;
    align-items: center;
    width: calc(100%);
    transform: translate(0, -120%);
    opacity: 0;
    transition: all 0.2s;
    padding: 0 20px 20px;
    background-color: #fff;

    &::after {
      content: '';
      position: absolute;
      top: -5px;
      left: 0;
      right: 0;
      width: 100%;
      height: 7px;
      background-color: #fff;
    }
  }

  &__text {
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 8px;
    align-self: flex-start;    
  }

  &__line {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 17px;
  }

  &__size {
    &:not(:last-child) {
      margin-right: 15px;
    }

    &:not(:first-child) {
      padding-left: 22px;
      position: relative;

      &::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        transform: translate(0%, -50%);
        width: 6px;
        height: 6px;
        background-image: url('/images/icons/cross.svg');
      }
    }
  }

  &__val {
    font-size: 9px;
    line-height: 11px;
    color: #c4c4c4;
    margin-bottom: 8px;
  }

  &__num {
    font-size: 9px;
    line-height: 11px;
  }

  &__tocart {
    padding: 10px 16px;
    width: 100%;
  }
}
