.login {
  padding: 88px 0 79px;

  @media (width <=540px) {
    padding: 30px 0;
  }

  &__inner {
    max-width: 315px;
    margin: 0 auto;
    text-align: center;
  }

  &__title {
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;

    @media (width <=992px) {
      font-size: 24px;
      line-height: 24px;
    }
  }

  &__form {
    @media #{$mobile} {
      margin-top: 30px;
    }
  }

  &__link-wrapper {
    text-align: right;
  }

  &__form-reminder {
    display: inline-block;
    text-align: right;
    font-size: 12px;
    line-height: 24px;
    margin: 10px 0 30px auto;
  }

  &__form-btn {
    width: 100%;
    min-height: 54px;
    padding: 12px 98px 9px;
    display: inline-block;

    &--yandex {
      background-color: white;
      border: 1px solid #FF0000; 
      color: $text;
      transition: $transition;

      &:visited {
        color: $text;
        background-color: white;
      }
      
      &:hover {
        color: white;
        background-color: rgba(#FF0000, 0.8);
      }

      &:active { 
        background-color: white;
        border: 1px solid #FF0000; 
        color: $text;
      }
    }
  }

  &__form-logo {
    display: block;
    max-width: 30px;
    margin-right: 10px;
  }

  &__text {
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 9px;
  }

  &__socials {
    margin-bottom: 60px;
  }

  &__socials-link {
    display: inline-block;
  }

  &__socials-link + .login__socials-link {
    margin-left: 75px;
  }

  &__bottom {
    text-align: center;
  }

  &__new {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #000;
  }

  &__new-link {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #209cee;
  }
}
