.product-content {
  @media (width <=992px) {
      flex-wrap: wrap;
    }

  &__box + &__box {
    margin-left: 116px;
    max-width: 430px;

    @media #{$tablet} {
      margin-left: 10px;
    }

    @media (width <=992px) {
      margin-left: 0;
      margin-top: 23px;
    }
  }

  &__row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 0;

    @media #{$mobile} {
      grid-template-columns: 160px 1fr;
    }
  }

  &__row + &__row {
    margin-top: 23px;
  }

  &__line {
    display: flex;
    align-items: center;

    @media (width <=510px) {
      width: 160px;
      min-width: 160px;
    }
  }

  &__text {
    font-size: 14px;
    line-height: 16px;
    color: #686868;

    @media #{$tablet} {
      font-size: 14px;
      line-height: 15px;
    }

    @media #{$mobile} {
      white-space: initial;
    }

    @media (width <=510px) {
      font-size: 12px;
      line-height: 14px;
    }

    span {
      white-space: nowrap;
    }
  }

  &__text + &__text {
    margin-top: 23px;
  }

  &__text--left {
    padding-right: 10px;
  }

  &__text--right {
    padding-left: 10px;
  }

  &__dots {
    flex-grow: 1;
    border-bottom: 1px dashed #686868;
  }
}
