.search {
  @media #{$tablet} {
    z-index: 4;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(#000, 0.5);
    padding: 15px;
  }

  &__body {
    display: flex;
    flex-direction: column;
    width: 80%;
    max-height: 550px;
    height: 100%;

    @media #{$mobile} {
      width: 100%;
    }
  }

  &__dropdown {
    $dropdown-offset-top: 116px;

    overflow: hidden;
    position: absolute;
    z-index: 2;
    top: 100%;
    right: 0;
    left: 0;
    background: #fff;
    box-shadow: 0 6px 30px rgb(4 43 87 / 10%);
    max-height: 535px;
    min-height: 350px;
    height: calc(100vh - $dropdown-offset-top);
    max-height: 500px;
    border-radius: 0 0 4px 4px;

    @media #{$tablet} {
      position: static;
      top: auto;
      right: auto;
      left: auto;
      min-height: auto;
      height: 100%;
      max-height: none;
      flex-grow: 1;
    }
  }

  &__dropdown-list .ps__rail-y {
    z-index: 1;
  }

  &__dropdown-item {
    position: relative;
    align-items: center;
    grid-gap: 20px;
    padding: 15px;
    border-bottom: 1px solid #e1e1e1;
    transition: all 0.3s;

    &:hover {
      background: #f4f7ff;
    }

    &:first-child {
      border-top: 1px solid #e1e1e1;
    }

    @media #{$mobile} {
      padding: 20px 15px 20px 20px;
    }

    &--no-border {
      border: none;
    }
  }

  &__dropdown-item-img {
    width: 50px;
    height: 50px;
    position: relative;
    flex-shrink: 0;

    img {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 4px;
    }
  }

  &__dropdown-item-name {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #333;

    @media #{$mobile} {
      font-size: 16px;
      line-height: 18px;
    }
  }

  &__dropdown-item-text {
    font-size: 14px;
    line-height: 20px;
    color: #7a878b;
    margin-top: 5px;

    @media #{$mobile} {
      font-size: 12px;
      line-height: 16px;
    }

    &--colored {
      color: #000;
      background-color: #ffe55e;
    }
  }

  &__empty {
    text-align: center;
    padding: 50px 0;
  }
}
