.signup {
  padding: 90px 0 80px;

  @media (width <=540px) {
      padding: 30px 0 45px;
  }

  &__inner {
    max-width: 315px;
    margin: 0 auto;
    text-align: center;
  }

  &__title {
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 50px;

    @media (width <=992px) {
      font-size: 24px;
      line-height: 24px;
    }
  }

  &__form-btn {
    width: 100%;
    padding: 12px 42px 9px;
  }
}
