.sort-list {
  position: absolute;
  z-index: 30;
  top: 110%;
  right: 0;
  left: 0;
  min-width: 170px;
  background: #fefefe;
  box-shadow: 0 2px 4px rgb(0 0 0 / 7%);
  border: 2px solid $main;
  border-radius: 3px;
  padding: 20px;
  text-align: left;

  &__item {
    font-size: 12px;
    line-height: 14px;
    padding: 4px 0;

    &.active {
      font-weight: 700;
    }
  }

  &__item + &__item {
    margin-top: 20px;
  }
}
