
.sub-list {
  &__item + &__item {
    margin-top: 23px;
  }

  &__link {
    display: inline-block;
    font-size: 14px;
    line-height: 16px;
    padding: 2px 0;
    color: #414141;

    &:hover {
      color: #245462;
    }
  }
}
