.top {
  padding-bottom: 30px;

  .container {
    @media (width <=766px) {
      padding: 0;
    }    
  }

  &__slider {
    margin: 0 -15px;
  }

  &__slider--fullsize {
    height: 420px;
  }

  &__slider-item-wrap {
    padding: 0 15px;
  }

  &__slider-item {
    padding: 100px 0 140px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 5px 11px 2px rgb(0 0 0 / 9%);

    @media (width <=510px) {
      background-position: right center;
    }
  }

  &__slider-box {
    margin-left: 40px;

    @media (width <=766px) {
      margin-left: 0;
      padding: 0 15px;
    }
  }

  &__title {
    font-size: 50px;
    line-height: 105.3%;
    font-weight: 500;
    text-transform: uppercase;
    color: #3c3c3c;
    margin-bottom: 15px;

    @media #{$mobile} {
      font-size: 30px;
      line-height: 38px;
      margin-bottom: 20px;
    }
  }

  &__subtitle {
    letter-spacing: 0.02em;
    margin-bottom: 20px;

    @media (width <=810px) {
      font-size: 12px;
      line-height: 16px;
    }

    @media (width <=510px) {
      margin-bottom: 0;
    }
  }

  &__btn {
    display: inline-block;
    font-weight: bold;
    font-size: 12px;
    line-height: 140.8%;
    letter-spacing: 0.04em;
    padding: 14px 25px;
    background: #fff;
    box-shadow: 0 2px 4px rgb(0 0 0 / 7%);

    @media (width <=510px) {
        display: none;
      }
    
  }
}
