.cart {
  padding-top: 20px;
  padding-bottom: 70px;

  &__bottom {
    justify-content: flex-end;

    @media #{$mobile} {
      flex-direction: column;
    }
  }

  &__bottom-total {
    font-size: 18px;
    line-height: 24px;
    margin-right: 20px;
    grid-gap: 5px;

    @media #{$mobile} {
      margin-right: 0;
    }
  }

  &__bottom-btn {
    @media #{$mobile} {
      margin-top: 20px;
    }
  }
}


