.colors {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-top: 10px;

  &__item {
    flex-shrink: 0;
    margin-left: 10px;
    margin-top: 10px;
  }

  &__checkbox-real {
    width: 1px;
    height: 1px;
    position: absolute;
    opacity: 0;
    appearance: none;
  }

  &__checkbox-fake {
    position: relative;
    display: block;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid #209cee;
  }

  &__checkbox-real:checked + .colors__checkbox-fake::after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 11px;
    height: 8px;
    content: '';
    background-image: url('/images/icons/check.svg');
  }

  &__checkbox-real:checked + .colors__checkbox-fake::before {
    position: absolute;
    top: -2px;
    right: -2px;
    left: -2px;
    bottom: -2px;
    border: 2px solid #209cee;
    border-radius: 50%;
    content: '';
  }

  &__checkbox-real:focus + .colors__checkbox-fake {
    outline: 2px solid black;
  }
}
