.controls {
  align-items: center;

  &__toggle-aside {
    position: relative;
    display: none;
    font-size: 14px;
    line-height: 18px;
    color: #000;
    padding: 5px 5px 5px 30px;

    svg {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
    }

    @media (width <=992px) {
      display: block;
    }
  }

  &__sort {
    min-width: 160px;
    padding: 10px 10px 10px 35px;
    position: relative;
    border: 2px solid rgba($main, 0.3);
    border-radius: 4px;
    text-align: left;

    &::after {
      content: '';
      position: absolute;
      left: 5px;
      top: 50%;
      transform: translate(0%, -50%);
      width: 24px;
      height: 16px;
      background-image: url('/images/icons/sort-icon.svg');
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }

    &:hover,
    &:focus {
      border: 2px solid rgba($main, 0.9);
    }

    &:active {
      background-color: rgba($main, 0.15);
    }

    @media #{$mobile} {
      padding: 5px 5px 5px 30px;
    }
  }

  &__sort-choice {
    font-weight: 600;

    @media #{$mobile} {
      font-size: 12px;
      line-height: 14px;
    }
  }
}
