.item {
  background: #fff;
  overflow: hidden;
  border-radius: 4px;
  z-index: 0;

  &::after {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    content: '';
    border: 1px solid #209cee;
    border-radius: 4px;
  }

  &__box {
    flex-grow: 1;
    padding: 22px 20px;

    @media #{$mobile} {
      display: grid;
      grid-gap: 20px;
      grid-template-columns: 3fr 7fr;
    }

    @media #{$mobile-mini} {
      grid-template-columns: 1fr;
    }
  }

  &__box-image {
    position: relative;
    width: 100px;
    height: 100px;
    flex-shrink: 0;

    img {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 8px;
    }
  }

  &__info {
    flex-grow: 1;
    margin-left: 30px;

    @media #{$mobile} {
      margin-left: 0;
    }
  }

  &__info-top {
    @media #{$mobile} {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__info-name {
    font-size: 22px;
    line-height: 30px;
    color: #245462;
    margin-right: 20px;
  }

  &__info-price {
    font-weight: 500;

    @media #{$mobile} {
      margin-top: 10px;
    }
  }

  &__info-line {
    flex-wrap: wrap;

    @media #{$mobile} {
      flex-direction: column;
      flex-wrap: nowrap;
      align-items: flex-start;
      width: 100%;
      margin-top: 0px;
    }
  }

  &__remove {
    width: 57px;
    min-height: 100%;
    border-radius: 4px;
    background-color: transparent;
    cursor: pointer;
    border: 1px solid #d41367;

    &:active {
      animation: button-click;
      animation-duration: 0.6s;
    }

    &[disabled] {
      touch-action: none;
      border-color: #c4c4c4;
      pointer-events: none;
      cursor: not-allowed;
    }

    @media #{$mobile} {
      z-index: 1;
      position: absolute;
      top: 0;
      right: 0;
      width: 30px;
      min-height: 30px;
    }
  }

  &__bottom-total {
    @media (width <=510px) {
      margin-bottom: 30px;
    }
  }

  &__remove-cross {
    width: 20px;
    height: 20px;
  }
}

.item + .item {
  margin-top: 20px;
}
