.popup {
  @extend %pop-up;

  display: none;

  &__body {
    @extend %pop-up-body;

    border-radius: 4px;

    &--max {
      padding: 50px 0;
      max-width: calc(100% - 40px);
      height: calc(100% - 40px);
    }
  }

  &__close {
    position: absolute;
    z-index: 1;
    top: 15px;
    right: 15px;

    &:focus {
      outline: none;
      border: none;
      border-radius: 50%;
      box-shadow: 0 0 0 2px black;
      outline-color: transparent; /* for high contrast modes */
    }

    &:active {
      animation: button-click;
      animation-duration: 0.6s;
    }
  }

  &__title {
    margin-bottom: 30px;
    padding: 0 20px;
    text-align: center;
    font-size: 22px;
    line-height: 28px;

    &--narrow {
      padding: 0 50px;
      margin-bottom: 10px;
    }
  }

  &__text {
    margin-bottom: 20px;
  }

  &__btn {
    display: block;
    width: 100%;
    padding: 15px;
    margin: 0 auto;
    text-align: center;
    border-radius: 5px;
    transform: all 0.2s;
    background-color: rgba($main, 0.7);
    opacity: 1;

    &:hover {
      opacity: 0.8;
    }

    &:active,
    &:focus {
      background-color: rgba($main, 0.5);
    }
  }

  &__picture {
    width: 200px;

    img {
      display: block;
      max-width: 100%;
    }
  }
}
