.form-input {
  width: 100%;
  background: #FBFBFB;
  border-radius: 5px;
  height: 40px;
  border: none;
  padding: 0 20px;

  font-weight: normal;
  font-size: 12px;
  line-height: 24px;
  color: #D6D6D6;
  font-family: 'STIX Two Text', serif;
  color: #000;
}

.form-label {
  font-size: 12px;
  line-height: 24px;
  color: #969696;
  text-align: left;
}

.form-error {
  font-size: 13px;
  line-height: 15px;

  color: red;
}

.form-input--error {
  border: 1px solid red;
}

.form-block {
  margin-bottom: 45px;
}