@import "_vars.scss";

.header {

  padding-bottom: 30px;

  // .header__top

  &__top {
    padding: 10px 0;
    color: #fff;
    background: #313131;
  }

  &__top-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  // .header__nav

  &__nav {
  }

  // .header__list

  &__list {
    display: flex;
    align-items: center;
  }

  // .header__list-item

  &__list-item {
    margin-right: 30px;
  }

  // .header__list-link

  &__list-link {
    font-size: 14px;
    line-height: 16px;
  }

  // .header__connect

  &__connect {
  }

  &__connect--mid {
    display: none;
  }

  // .header__phone

  &__phone {
    font-size: 14px;
    line-height: 16px;

    margin-right: 30px;
    padding-left: 26px;

    position: relative;
    &::after{
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      transform: translate(0%, -50%);
      width: 19px;
      height: 19px;
      background-image: url('../images/icons/phone.svg');
    }
  }

  &__phone--black::after {
    width: 16px;
    height: 16px;
    background-image: url('../images/icons/phone-black.svg');
  }

  // .header__delivery

  &__delivery {
    font-size: 14px;
    line-height: 16px;
    padding-left: 40px;

    position: relative;
    &::after{
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      transform: translate(0%, -50%);
      
      width: 30px;
      height: 17px;
      background-image: url('../images/icons/delivery-icon.svg');
    }
  }

  &__delivery--black {
    margin-right: 40px;
  }

  &__delivery--black::after {
    background-image: url('../images/icons/delivery-black.svg');
  }

  // .header__mid

  &__mid {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
  }

  &__mid--tall {
    padding: 46px 0 0;
  }

  &__mid--taller {
    padding: 46px 0 47px;
  }

  // .header__form

  &__form {
    position: relative;
    // width: 100%;
    flex-grow: 1;
    margin-right: 37px;
  }

  // .header__input

  &__input {
    width: 100%;
    height: 50px;
    padding: 17px 48px;
    border: 1px solid #E6E6E6;

    &,
    &::placeholder {
      font-family: 'Roboto', sans-serif;
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
      color: $text;
    }
  }

  &__input--spec {
    background: #F9F9F9;
    border: none;
    height: 40px;  
  }

  // .header__search

  &__search {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translate(0%, -50%);
  }

  // .header__user

  &__user {
  }

  // .header__bottom

  &__bottom {
    display: flex;
    align-items: center;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.07);
  }

  // .header__categories

  &__categories {
    flex-grow: 1;
  }

  // .header__promo

  &__promo {
    position: relative;
    margin-left: 10px;
    padding: 15px 30px 25px 15px;
    align-self: center;

    &:hover .sub-list--rightside {
      display: block;
    }
  }

  &__promo-link {
    color: #D74444;

  }

  // .header__more

  &__more {
    padding: 0 5px;
  }
}
.logo {

  display: inline-block;
  margin-right: 38px;
}

.user-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 112px;
  
  // .user-header__link

  &__link {
    transition: hover .2s;
  }

  &__link--dot {
    position: relative;

    &::after{
      content: "";
      position: absolute;
      top: 4px;
      right: -2px;
      width: 10px;
      height: 10px;
      background-color: orange;
      border-radius: 50%;
    }
  }

  &__link--hover {

    &:hover {
      transform: scale(1.2);
    }
  }


  &__link + &__link {
    margin-left: 25px;
  }
}

.categories {

  // .categories__list

  &__list {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  // .categories__item

  &__item {
    position: relative;
    display: flex;
    align-items: center;
    padding: 24px;
    transform: all .2s;
    cursor: pointer;
    background-color: transparent;

    &:first-child {
      padding-left: 40px;
    }
  }

  &__item--new {
    display: none;
  }

  &__item--promo {
    display: none;
  }

  &__item-img {
    display: block;
  }


  // .categories__link

  &__link {
    margin-left: 10px;
  }
}

.sub-list {

  position: absolute;
  z-index: 999;
  top: 100%;
  left: 0;

  display: none;
  min-width: 190px;
  padding: 25px 5px 25px 25px;
  cursor: default;

  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
  background-color: #fff;

  &--rightside {
    left: auto;
    right: 0;
  }

  // .sub-list__item

  &__item {
  }

  &__item + &__item {
    margin-top: 23px;
  }

  // .sub-list__link

  &__link {
    display: inline-block;
    font-size: 14px;
    line-height: 16px;
    padding: 2px 0;
    color: #414141;

    &:hover {
      color: #245462;
    }
  }
}

@media (min-width:992px) {
  .categories__item:hover {
    background: #245462;
    color: #fff;

    path {
      fill: white;
    }

    .sub-list {
      display: block;
    }
  }
}

@media (max-width:1200px) {
  .categories__item {
    padding: 24px 15px;
    flex-direction: column;
    text-align: center;
  }
  .header__bottom {
    justify-content: space-between;
  }
  .categories {
    flex-grow: 1;
  }
  .categories__list {
    justify-content: space-between;
  }
  .categories__link {
    display: inline-block;
    margin-top: 5px;
    margin-left: 0;
  }
  .sub-list {
    text-align: left;
  }
}

@media (max-width:992px) {
  .header__top {
    display: none;
  }
  .header__connect--mid {
    display: block;
  }
  .menu-btn {
    display: block;
  }
}

@media (max-width:959px) {
  .header {
    padding-bottom: 20px;
  }
  .header__phone {
    display: none;
  }
  .header__form {
    margin-right: 24px;
  }
}

@media (max-width:766px) {
  .header__mid {
    flex-wrap: wrap;
  }
  .header__form {
    order: 1;
    width: 100%;
    margin-right: 0;
    margin-top: 16px;
  }
  .header__input {
    background: #F9F9F9;
    border: none;  
  }
  .header__bottom {
    overflow: auto;
    box-shadow: none;
  }
  .header__bottom::-webkit-scrollbar {
    display: none;
  }
  .categories__item--promo {
    display: block;
  }
  .categories__item--new {
    display: block;
  }
  .header__promo {
    display: none;
  }

  .categories__item {
    padding: 0 15px;
  }
  .categories__item:first-child {
    padding-left: 15px;
  }
  .logo {
    margin-right: auto;
  }

  .categories__item-img {
    background: #FFFFFF;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.07);
    padding: 15px;
    min-height: 55px;

    img {
      display: block;
    }
  }
  .header__more {
    margin-left: 30px;
  }
}

@media (max-width:510px) {
  .header__connect {
    display: none;
  }
  .logo {

    img {
      width: 100px;
      height: 22px;
      object-fit: contain;
    }
  }
  .user-header {
    min-width: 100px;
  }
  .categories__link {
    font-size: 9px;
    line-height: 11px;
  }
  .categories__item {
    padding: 0 4px;
  }
  .categories__item:first-child {
    padding-left: 4px;
  }
}


@media (max-width:1200px) {
  .header__mid .header__nav {
    display: none;
  }
}

@media (max-width:766px) {
  .header__bottom--toremove {
    display: none;
  }
}

@media (max-width:510px) {
  .header__mid--taller {
    padding: 20px 0px;
  }
}