@import "_vars.scss"; 

.popup-message {

  @extend %pop-up;
  display: none;

  // .popup-message__body

  &__body {
    @extend %pop-up-body;
  }

  // .popup-message__close

  &__close {
    position: absolute;
    top: 15px;
    right: 15px;
  }

  // .popup-message__title

  &__title {
    margin-bottom: 16px;
  }

  // .popup-message__text

  &__text {
    margin-bottom: 20px;
  }

  // .popup-message__btn

  &__btn {
    display: block;
    width: 100%;
    padding: 15px;
    margin: 0 auto;
    border-radius: 5px;

    transform: all .2s;
    background-color: rgba($main, .7);
    opacity: 1;

    &:hover {
      opacity: .8;
    }

    &:active,
    &:focus {
      background-color: rgba($main, .5);
    }
  }
}