.cart {
  padding-top: 20px;

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  &__item {
    &.removed {
      display: none;
    }
  }

  &__bottom {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 50px 0 100px;
  }

  &__bottom-total {
    font-size: 14px;
    line-height: 16px;
    margin-right: 15px;

    span {
      font-weight: 500;
      margin-right: 15px;
    }
  }

  &__bottom-btn {
    font-size: 13px;
    line-height: 15px;
    padding: 13px 50px;
    background: #245462;
    color: #fff;
  }
}

.item {
  display: flex;
  background: #fff;
  border: 1px solid #209cee;
  border-radius: 4px;
  overflow: hidden;

  @media (width <=510px) {
      position: relative;
    }

  &__box {
    display: flex;
    flex-grow: 1;
    padding: 22px 20px;

    @media #{$mobile} {
      flex-wrap: wrap;
    }

      @media (width <=450px) {
          img {
            max-width: 67px;
          }
        }
  }

  &__box-image {
    max-width: 100px;
  }

  &__info {
    flex-grow: 1;
    margin-left: 40px;

    @media (width <=450px) {
        margin-left: 10px;
      }
    
  }

  &__info-nums {
    @media (width <=510px) {
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
      }
    
  }

  &__info-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;

    @media (width <=510px) {
        flex-direction: column;
        align-items: flex-start;
      }
    
  }

  &__info-name {
    font-weight: 500;
    max-width: 270px;
    padding-right: 20px;

    @media (width <=510px) {
        margin-bottom: 11px;
      }

      @media (width <=450px) {
          font-size: 12px;
          line-height: 14px;
        }
  }

  &__info-price {
    font-weight: 500;
  }

  &__info-line {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  &__remove {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 57px;
    min-height: 100%;
    border-radius: 4px;
    background-color: transparent;
    cursor: pointer;
    border: 1px solid #D41367;

    @media #{$mobile} {
      width: 30px;
    }

    @media (width <=510px) {
        position: absolute;
        right: 0;
        top: 0;
        width: 30px;
        min-height: 30px;
      }
      &__bottom-total {
        @media (width <=510px) {
          margin-bottom: 30px;
        }
      }
  }

  &__remove-cross {
    width: 20px;
    height: 20px;
  }

  &__bottom {

    @media #{$mobile} {
      width: 100%;
    }

    @media (width <=510px) {
        margin-top: 8px;
      }

      @media (width <=510px) {
          flex-direction: column;
          margin: 30px 0;
        }
      
    
  }
}

.item + .item {
  margin-top: 20px;
}

