.cart {
  padding-top: 20px;

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  &__item {
    &.removed {
      display: none;
    }
  }

  &__bottom {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 50px 0 100px;
  }

  &__bottom-total {
    font-size: 14px;
    line-height: 16px;
    margin-right: 15px;

    span {
      font-weight: 500;
      margin-right: 15px;
    }
  }

  &__bottom-btn {
    font-size: 13px;
    line-height: 15px;
    padding: 13px 50px;
    background: #245462;
    color: #fff;
  }
}

.item {
  display: flex;
  background: #fff;
  border: 1px solid #209cee;
  border-radius: 4px;
  overflow: hidden;

  @media (width <=510px) {
      position: relative;
    }

  &__box {
    display: flex;
    flex-grow: 1;
    padding: 22px 20px;

    @media (width <=766px) {
        flex-wrap: wrap;
      }

      @media (width <=450px) {
          img {
            max-width: 67px;
          }
        }
  }

  &__box-image {
    max-width: 100px;
  }

  &__info {
    flex-grow: 1;
    margin-left: 40px;

    @media (width <=450px) {
        margin-left: 10px;
      }
    
  }

  &__info-nums {
    @media (width <=510px) {
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
      }
    
  }

  &__info-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;

    @media (width <=510px) {
        flex-direction: column;
        align-items: flex-start;
      }
    
  }

  &__info-name {
    font-weight: 500;
    max-width: 270px;
    padding-right: 20px;

    @media (width <=510px) {
        margin-bottom: 11px;
      }

      @media (width <=450px) {
          font-size: 12px;
          line-height: 14px;
        }
  }

  &__info-price {
    font-weight: 500;
  }

  &__info-line {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  &__remove {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 57px;
    min-height: 100%;
    border-radius: 4px;
    background-color: transparent;
    cursor: pointer;
    border: 1px solid #D41367;

    @media (width <=810px) {
        width: 30px;
    }

    @media (width <=510px) {
        position: absolute;
        right: 0;
        top: 0;
        width: 30px;
        min-height: 30px;
      }
      &__bottom-total {
        @media (width <=510px) {
          margin-bottom: 30px;
        }
      }
  }

  &__remove-cross {
    width: 20px;
    height: 20px;
  }

  &__bottom {
    @media (width <=766px) {
        width: 100%;
    }

    @media (width <=510px) {
        margin-top: 8px;
      }

      @media (width <=510px) {
          flex-direction: column;
          margin: 30px 0;
        }
      
    
  }
}

.item + .item {
  margin-top: 20px;
}

.info-feature {
  display: flex;
  align-items: center;
  margin-right: 15px;

  &__color {
    flex-shrink: 0;
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-left: 10px;
    border-radius: 50%;

    &:after {
      position: absolute;
      top: -2px;
      right: -2px;
      left: -2px;
      bottom: -2px;
      content: "";
      border: 2px solid #209cee;
      border-radius: 50%;
    }
  }

  &__name {
    font-size: 12px;
    line-height: 14px;
    margin-right: 10px;
  }

  &__val {
    font-size: 12px;
    line-height: 14px;
    color: #9e9e9e;
    white-space: nowrap;
  }
}

.cart-empty {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 300px;
  height: 40vh;

  &__box {
    position: relative;
    width: 300px;
    height: 150px;
  }

  &__image {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
  }
}

@media (width <=510px) {
  .sales__items--cart {
    display: block;

    .item-sales {
      width: 220px !important;
    }
  }

  .sales {
    padding-bottom: 40px;
  }
}
