.catalog {
  &__body {
    flex-grow: 1;
    padding-bottom: 100px;

    @media #{$mobile} {
      padding-bottom: 60px;
    }
  }

  &__controls {
    justify-content: flex-end;

    @media (width <=992px) {
      justify-content: space-between;
    }
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 53px 30px;
    
    @media (width <=766px) {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 30px;
    }

    @media (width <=420px) {
      grid-template-columns: 1fr;
      width: 90%;
      margin: 0 auto;
    }
  }  
}
