.favorites {
  &__empty {
    min-height: 300px;
    height: 40vh;
    background-image: url('/images/chair.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 15%;
  }

  &__empty-text {
    z-index: 1;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;

    @media (width <=767px) {
        font-size: 25px;
        line-height: 31px;
    }
    

    &::before {
      transform: scaleX(0);
      content: ' ';
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: #f1d152;
      z-index: -1;
      transition: transform 0.3s ease;
      transform-origin: bottom right;
    }

    &:hover::before {
      transform: scaleX(1);
      transform-origin: bottom left;
    }
  }
}
