.form-input {
  width: 100%;
  background: #f7f7f7;
  border: 1px solid #f7f7f7;
  border-radius: 5px;
  padding: 10px 20px;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  font-family: 'STIX Two Text', serif;
  color: #000;

  &::placeholder {
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    font-family: 'STIX Two Text', serif;
    color: #575757;
  }

  &:hover,
  &:focus {
    outline: none;
    border: 1px solid #209cee;
  }
}

.form-label {
  font-size: 12px;
  line-height: 24px;
  color: #969696;
  text-align: left;
}

.form-input--error {
  border: 1px solid #D41367;
}

.form-block {
  margin-bottom: 45px;
}

.form {
  &__label {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
  }

  &__checkbox-real {
    width: 1px;
    height: 1px;
    position: absolute;
    opacity: 0;
    appearance: none;
  }

  &__checkbox-fake {
    position: relative;
    width: 18px;
    height: 18px;
    background: #fff;
    border: 1px solid #209cee;
    border-radius: 3px;
  }

  &__text {
    font-size: 18px;
    line-height: 22px;
    padding-left: 10px;
  }

  &__checkbox-real:checked + .form__checkbox-fake {
    background: #209cee;
  }

  &__error {
    font-size: 14px;
    line-height: 17px;
    display: block;
    text-align: left;
    color: #D41367;
  }

  &__checkbox-real:checked + .form__checkbox-fake::after {
    position: absolute;
    content: '';
    top: 3px;
    left: 2px;
    width: 11px;
    height: 8px;
    background-image: url('/images/icons/check.svg');
  }
}
