.top {
  padding-bottom: 30px;

  // .top__slider

  &__slider {
    .slick-btn {
      position: absolute;
      top: 50%;
      z-index: 1;
      transform: translate(0, -50%);
      cursor: pointer;

      &.slick-disabled {
        path {
          fill: rgb(157 157 157 / 100%);
        }
      }
    }

    .slick-prev {
      left: 25px;
      transform: rotate(180deg);
    }

    .slick-next {
      right: 25px;
    }
  }

  &__slider--fullsize {
    height: 420px;
  }

  // .top__slider-item

  &__slider-item {
    padding: 100px 0 140px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 5px 11px 2px rgb(0 0 0 / 9%);
  }

  &__slider-box {
    max-width: 320px;
    margin-left: 120px;
  }

  // .top__title

  &__title {
    font-family: 'Playfair Display', serif;
    font-size: 50px;
    line-height: 105.3%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #3c3c3c;
    margin-bottom: 15px;
  }

  // .top__subtitle

  &__subtitle {
    letter-spacing: 0.02em;
    margin-bottom: 20px;
  }

  // .top__btn

  &__btn {
    display: inline-block;
    font-weight: bold;
    font-size: 12px;
    line-height: 140.8%;
    letter-spacing: 0.04em;
    padding: 14px 25px;
    background: #fff;
    box-shadow: 0 2px 4px rgb(0 0 0 / 7%);
  }
}

.sales {
  padding-bottom: 70px;

  &__title {
    font-weight: 400;
    margin-bottom: 35px;
  }

  // .sales__items

  &__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 53px 30px;
  }
}

.item-sales {
  position: relative;
  padding: 74px 0 0;
  background: #fff;

  &__label {
    position: absolute;
    top: 21px;
    left: 18px;
    display: flex;
    align-items: center;
    font-size: 12px;
    line-height: 14px;
    color: #000;

    img {
      display: inline-block;
      margin-right: 7px;
    }
  }

  // .item-sales__like

  &__like {
    position: absolute;
    z-index: 5;
    top: 21px;
    right: 16px;
    width: 24px;
    height: 21px;
    background-image: url('/images/icons/wish.svg');

    &.active {
      background-image: url('/images/icons/wished.svg');
    }
  }

  // .item-sales__box

  &__box {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0 20px;
  }

  &__img {
    display: flex;
    justify-content: center;
    max-width: 200px;
    margin: 0 auto;

    img {
      max-width: 100%;
      max-height: 150px;
    }
  }

  // .item-sales__title

  &__title {
    display: block;
    font-weight: 500;
    cursor: pointer;
    margin: 54px 0 6px;
  }

  // .item-sales__type

  &__type {
    display: block;
    font-size: 11px;
    line-height: 13px;
    margin-top: auto;
    margin-bottom: 9px;
  }

  // .item-sales__price

  &__price {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }

  // .item-sales__price-new

  &__price-new {
    font-weight: 500;
    margin-right: 6px;
  }

  // .item-sales__price-old

  &__price-old {
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    text-decoration-line: line-through;
    color: #ccc;
  }

  // .item-sales__bottom

  &__bottom {
    position: absolute;
    z-index: -1;
    right: 0;
    left: 0;
    top: 100%;
    width: calc(100%);
    transform: translate(0, -120%);
    opacity: 0;
    transition: all 0.2s;
    padding: 0 20px 20px;
    background-color: #fff;

    &::after {
      content: '';
      position: absolute;
      top: -5px;
      left: 0;
      right: 0;
      width: 100%;
      height: 7px;
      background-color: #fff;
    }
  }

  // .item-sales__text

  &__text {
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 8px;
  }

  // .item-sales__line

  &__line {
    display: flex;
    align-items: center;
    margin-bottom: 17px;
  }

  // .item-sales__size

  &__size {
    &:not(:last-child) {
      margin-right: 15px;
    }

    &:not(:first-child) {
      padding-left: 22px;
      position: relative;

      &::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        transform: translate(0%, -50%);
        width: 6px;
        height: 6px;
        background-image: url('/images/icons/cross.svg');
      }
    }
  }

  // .item-sales__val

  &__val {
    font-size: 9px;
    line-height: 11px;
    color: #c4c4c4;
    margin-bottom: 8px;
  }

  // .item-sales__num

  &__num {
    font-size: 9px;
    line-height: 11px;
  }

  // .item-sales__tocart

  &__tocart {
    padding: 13px 0;
    width: 100%;
    color: #fff;
    background: #245462;
    opacity: 1;
    transition: all 0.2s;

    &:hover {
      opacity: 0.9;
    }

    &:active {
      opacity: 0.6;
    }
  }

  &:hover {
    box-shadow: 0 1px 9px rgb(0 0 0 / 11%);

    .item-sales__bottom {
      z-index: 10;
      transform: translate(0, 0);
      opacity: 1;
      box-shadow: 0 1px 9px rgb(0 0 0 / 11%);
    }
  }
}

.label-sales__body {
  padding-left: 25px;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    top: -3px;
    left: 0;
    width: 18px;
    height: 19px;
    background-image: url('/images/icons/sale.svg');
  }
}

.gallery {
  margin-bottom: 30px;

  // .gallery__items

  &__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 30px 35px;
  }

  // .gallery__item

  &__item {
    position: relative;
    text-decoration: none;
    color: inherit;
    box-shadow:
      inset 0 0 0 4px #000,
      inset -4px -4px 0 6px #ccc;
    cursor: pointer;

    &::before {
      position: absolute;
      left: 0;
      bottom: 0;
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      background-color: rgba(#000, 0.2);
      transform-origin: 0 bottom 0;
      transform: scaleY(0);
      transition: 0.4s ease-out;
    }

    &:hover {
      &::before {
        transform: scaleY(1);
      }

      .gallery__item-link {
        opacity: 1;
      }
    }
  }

  &__item:first-child {
    grid-column: span 2;
    grid-row: span 2;
  }

  // .gallery__item-img

  &__item-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  &__item-link {
    font-size: 16px;
    font-weight: 500;
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    width: 100%;
    padding: 15px;
    transform: translate(-50%, -50%);
    transition: all 0.2s;
    opacity: 0;
    color: #000;
    letter-spacing: 2px;
    text-align: center;
  }
}

@media (width <=992px) {
  .sales__items {
    grid-template-columns: repeat(3, 1fr);
  }

  .gallery__items {
    grid-gap: 10px 15px;
  }
}

@media (width <=810px) {
  .top__title {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 20px;
  }

  .top__slider-box {
    max-width: 220px;
  }

  .top__subtitle {
    font-size: 12px;
    line-height: 16px;
  }

  .top__slider {
    .slick-btn {
      z-index: 4;
      top: auto;
      bottom: 12px;
      transform: translate(0, 0);
    }

    .slick-prev {
      right: 42px;
      left: auto;
      bottom: 15px;
      transform: rotate(180deg);
    }

    .slick-next {
      right: 12px;
    }
  }
}

@media (width <=766px) {
  .top {
    .container {
      padding: 0;
    }
  }

  .top__slider-box {
    margin-left: 0;
    padding: 0 15px;
  }

  .sales__items {
    grid-template-columns: repeat(2, 1fr);
  }

  .gallery__items {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
  }

  .gallery__item:first-child {
    grid-column: span 1;
  }
}

@media (width <=510px) {
  .top__slider {
    .slick-btn {
      display: none;
    }
  }

  .top__slider-item {
    background-position: right center;
  }

  .top__subtitle {
    margin-bottom: 0;
  }

  .top__btn {
    display: none;
  }

  .sales__items {
    grid-gap: 20px 8px;
  }

  .item-sales {
    position: relative;
    padding: 40px 0 0;
    background: #fff;
  }

  .item-sales__price-new {
    font-size: 13px;
    line-height: 15px;
  }

  .item-sales__box {
    padding: 0 7px;
  }

  .item-sales__title {
    font-size: 13px;
    line-height: 15px;
  }
}
