.menu-btn {
  display: none;
  margin-right: 25px;
  cursor: pointer;

  div {
    width: 20px;
    height: 2px;
    background-color: #000;
    transition: all 0.5s;

    &:nth-child(2) {
      width: 20px;
    }
  }

  div + div {
    margin-top: 5px;
  }
}

.menu-btn.active {
  div:nth-child(2) {
    opacity: 0;
  }

  div:nth-child(1) {
    transform: translateY(5px) rotate(135deg);
  }

  div:nth-child(3) {
    transform: translateY(-9px) rotate(-135deg);
  }
}

.mob-menu {
  display: none;
  position: fixed;
  z-index: 150;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  overflow: auto;
  background-color: rgba(#000, 0.1);

  &.opened {
    display: block;
  }

  &__body {
    width: 227px;
    min-height: 100%;
    transform: translate(-200%, 0);
    transition: transform 0.3s;
    padding: 20px 0 5px;
    background: #f9f9f9;
    box-shadow: 0 2px 4px rgb(0 0 0 / 7%);

    &.opened {
      transform: translate(0%, 0);
    }
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 22px;
    padding-left: 25px;
    padding-right: 15px;
  }

  &__title {
    font-weight: 500;
    font-size: 13px;
    line-height: 15px;
  }

  &__close {
    width: 40px;
    height: 40px;
    background-image: url('/images/mob-menu/close.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__list {
    margin-bottom: 35px;
  }

  &__list-item {
    font-size: 13px;
    line-height: 15px;
    padding: 15px 0;

    &:hover {
      background-color: rgba(#000, 0.2);
    }
  }

  &__link {
    display: flex;
    align-items: center;
    padding: 0 15px 0 28px;

    span {
      display: block;
      width: 40px;
    }

    &.promo {
      color: #e92d2d;
    }
  }

  &__subtitle {
    margin-bottom: 35px;
    padding-left: 25px;
    padding-right: 15px;
  }
}
