.product {
  @media (width <=992px) {
    padding-left: 20px;
  }

  @media (width <=766px) {
    padding-left: 0;
  }
  
  &__inner {
    grid-template-columns: calc(100% - 490px) 460px;
    grid-gap: 30px;
    max-width: 100%;

    @media (width <=992px) {
      flex-wrap: wrap;
    }
  }

  &__info {
    @media (width <=992px) {
      min-width: none;
      margin-left: 0;
    }

    @media (width <=766px) {
      min-width: 100%;
    }
  } 

  &__slider {
    padding: 45px 25px 45px;

    @media (width <=992px) {
      padding: 40px 0 35px;
    }
  }

  &__slider-item {
    position: relative;
    padding-bottom: 50%;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__images {
    @media (width <=992px) {
      width: 718px;
      margin-bottom: 40px;
    }

    @media (width <=766px) {
      width: 100%;
    }
  }

  &__thumbs {
    padding: 0 28px;

    @media (width <=510px) {
      padding: 0;
    }

    .slick-btn {
      position: absolute;
      top: 50%;
      z-index: 1;
      transform: translate(0, -50%);
      cursor: pointer;

      @media (width <=510px) {
          display: none;
      }


      &.slick-disabled path {
        fill: rgb(157 157 157 / 28%);
      }
    }

    .slick-prev {
      left: 0;
    }

    .slick-next {
      right: 0;
    }

    @media (width <=510px) {
      img {
        max-width: 83px;
      }
    }
  }

  &__thumb {
    position: relative;
    cursor: pointer;
    padding: 0 5px;

    img {
      max-width: 100px;
    }
  }


  &__review-uploads {
    flex-wrap: wrap;
    grid-gap: 20px;
  }
}

.info {
  &__title {
    font-weight: 500;
    font-size: 28px;
    line-height: 33px;
    margin-bottom: 10px;

    @media (width <=510px) {
      font-size: 16px;
      line-height: 19px;
    }
  }

  &__category {
    font-size: 14px;
    line-height: 16px;
    color: #686868;
    margin-bottom: 15px;
    text-transform: capitalize;


    @media #{$mobile} {
      font-size: 9px;
      line-height: 11px;
    }
  }

  &__shop {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }

  &__features {
    margin-bottom: 20px;
    grid-template-columns: 1fr 2fr;
    grid-gap: 20px;
  }

  &__text-title {
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 10px;
  }

  &__text {
    font-size: 12px;
    line-height: 18px;
    color: #686868;
    max-width: 738px;
  }

  &__rating-img + &__rating-img {
    margin-left: 5px;
  }

  &__rating-parent {
    position: relative;
    z-index: 0;
  }

  &__rating-child {
    overflow: hidden;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    bottom: 0;
  }
}

.shop {
  &__price {
    font-weight: 500;
    font-size: 28px;
    line-height: 33px;
    margin-right: 30px;
    white-space: nowrap;

    @media (width <=510px) {
      font-size: 16px;
      line-height: 19px;
    }
  }

  &__btn {
    font-size: 14px;
    line-height: 18px;
    color: #fff;
    padding: 12px 50px;
    background: #245462;
    margin-right: 20px;
    transition: all 0.2s;
    opacity: 1;

    &:hover {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.6;
    }

    &--plain {
      position: relative;
      padding: 12px 50px;
      padding: 12px 50px 12px 60px;

      font-size: 14px;
      line-height: 18px;

      &:hover {
        path {
          fill: white;
        }
      }

      &:active {
        path {
          fill: #414141;
        }
      }

      svg {
        position: absolute;
        top: 50%;
        left: 30px;
        transform: translate(0, -50%);
      }

      path {
        transition: all 0.2s;
      }
    }
  }

  &__wish {
    padding-left: 15px;

    @media (width <=510px) {
      font-size: 0;
    }
  }
}

.features {
  display: flex;

  @media (width <=510px) {
      flex-wrap: wrap;
    }

  &__col--color {
    margin-right: 25px;
  }

  &__col--quintity {
    margin-right: 45px;
  }

  &__title {
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 10px;
  }

  @media (width <=510px) {
    margin-top: 20px;
  }

  &__select-quintity {
    width: 50px;
  }
}

.quintity-select {
  &__btn {
    min-width: 30px;
    margin-right: 10px;
  }
}

.size-select {
  span:not(:last-child) {
    margin-right: 5px;
  }

  span:not(:first-child) {
    padding-left: 13px;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      top: 4px;
      left: 0;
      width: 6px;
      height: 6px;
      background-image: url('/images/icons/cross.svg');
    }
  }
}

.product-content {
  @media (width <=992px) {
      flex-wrap: wrap;
    }

  &__box + &__box {
    margin-left: 116px;
    max-width: 430px;

    @media (width <=1200px) {
      margin-left: 10px;
    }

    @media (width <=992px) {
      margin-left: 0;
      margin-top: 23px;
    }
  }

  &__row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 0;

    @media (width <=510px) {
      grid-template-columns: 160px 1fr;
    }
  }

  &__row + &__row {
    margin-top: 23px;
  }

  &__line {
    display: flex;
    align-items: center;
    width: 286px;

    @media (width <=1200px) {
      min-width: 265px;
    }
     
    @media (width <=510px) {
      width: 160px;
      min-width: 160px;
    }
  }

  &__text {
    font-size: 14px;
    line-height: 16px;
    color: #686868;

    @media (width <=1200px) {
      font-size: 14px;
      line-height: 15px;
    }

    @media (width <=766px) {
      white-space: initial;
    }

    @media (width <=510px) {
      font-size: 12px;
      line-height: 14px;
    }

    span {
      white-space: nowrap;
    }
  }

  &__text + &__text {
    margin-top: 23px;
  }

  &__text--left {
    padding-right: 10px;
  }

  &__text--right {
    padding-left: 10px;
  }

  &__dots {
    flex-grow: 1;
    border-bottom: 1px dashed #686868;
  }
}

@media (width <=510px) {
  .sales__items--product {
    .item-sales:nth-child(n + 5) {
      display: none;
    }
  }
}

.sales {
  margin-top: 90px;
  padding-bottom: 70px;

  &__title {
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    font-weight: 500;
    margin-bottom: 35px;
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 53px 30px;

    @media (width <=992px) {
      grid-template-columns: repeat(3, 1fr);

      &--product {
        .item-sales:nth-child(n + 7) {
          display: none;
        }
      }
    }

    @media (width <=766px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (width <=510px) {
      grid-gap: 20px 8px;
    }
  }
}
