.profile {
  padding: 20px 0 170px;

  &__top {
    margin-bottom: 42px;
  }

  &__controls {
    justify-content: space-between;
    align-items: center;
  }

  &__names {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
  }

  &__heading {
    font-weight: 400;
    margin-right: auto;
  }

  &__logout {
    padding: 14px 25px;
  }

  &__title {
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 30px;
  }

  &__total {
    font-size: 12px;
    line-height: 14px;
    margin-right: 20px;

    span {
      font-weight: 700;
      font-size: 12px;
      line-height: 14px;
    }
  }

  &__rules {
    font-size: 12px;
    line-height: 14px;
    color: #245462;
  }

  &__terms {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f8f8f8;
    padding: 16px;
  }

  &__term {
    display: flex;
    align-items: center;
  }

  &__term + &__term {
    margin-left: 58px;
  }

  &__term-text {
    font-size: 14px;
    line-height: 130%;
    margin-left: 15px;
  }

  &__body {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  &__tab {
    font-size: 18px;
    line-height: 22px;
    padding: 10px 20px;
    color: #414141;
    border: 1px solid #209cee;
    text-transform: capitalize;
    background-color: white;
    transition: 0.3s;

    &:hover {
    border: 1px solid #209cee;
      background-color: rgba(#209cee, 0.9);
      color: white;
    }
  
    &:active {
      background-color: white;
      color: #414141;
    }

    &--active {
      background-color: #245462;
    border: 1px solid #245462;
      color: white;
    }
  }

  &__tab + &__tab {
    margin-left: 30px;
  }

  &__box {
    margin-top: 80px;
  }

  &__form-block {
    margin-bottom: 20px;
  }

  &__form-label {
    font-size: 12px;
    line-height: 14px;
    color: #969696;
    display: block;
    margin-bottom: 10px;
  }

  &__form-input {
    display: block;
    width: 100%;
    margin-top: 5px;
    background: #fcfcfc;
    box-shadow: inset 1px 1px 5px rgb(0 0 0 / 7%);
    padding: 12px;
    color: #686868;
    border: none;

    &,
    &::placeholder {
      font-family: Roboto, sans-serif;
      font-weight: normal;
      font-size: 12px;
      line-height: 14px;
    }

    &::placeholder {
      color: #969696;
    }
  }

  &__drop {
    width: 250px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px dashed #209cee; 
    cursor: pointer;
    border-radius: 50%;

    &--drag {
      background-color: rgba(#209cee, .1);
    }
  }

  &__drop-placeholder {
    color: #209cee;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }

  &__picture {
    overflow: hidden;
    position: relative;
    z-index: 0;
    border-radius: 50%;
    width: 100%;
    height: 100%;
  }

  &__picture-img {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: block;
    max-width: 100%;
    object-fit: contain;
  }
}

.orders {
  &__items {
    display: grid;
    grid-template-columns: minmax(auto, 346px) minmax(66px, auto) minmax(15%, auto) auto;
    grid-gap: 1px;
    margin-bottom: 20px;
    background-color: #f3f3f3;
    border: 1px solid #f3f3f3;
  }

  &__preview {
    width: 50px;
    height: 50px;
    object-fit: contain;
  }

  &__name {
    display: flex;
    align-items: center;
    background: #fff;
    font-size: 12px;
    line-height: 147.69%;
    color: $text;
    padding: 25px 5px 25px 15px;

    img {
      display: inline-block;
      margin-right: 15px;
    }

    &.heading {
      padding: 11px 5px 11px 15px;
      color: #686868;
    }
  }

  &__cost {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    font-size: 12px;
    line-height: 147.69%;
    color: #686868;
    padding: 0 5px;
    text-align: center;

    &.heading {
      padding: 11px 0;
      color: #686868;
    }
  }

  &__date {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    font-size: 12px;
    line-height: 147.69%;
    color: #686868;
    padding: 0 5px;
    text-align: center;

    &.heading {
      padding: 11px 0;
      color: #686868;
    }
  }

  &__status {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    font-size: 12px;
    line-height: 147.69%;
    color: #686868;
    text-align: center;
    padding: 0 5px;

    &.heading {
      padding: 11px 0;
      color: #686868;
    }
  }

  &__all {
    font-size: 12px;
    line-height: 14px;
    color: #245462;
    text-align: right;
  }
}

@media (width <=992px) {
  .profile__box {
    min-width: 320px;
  }
}

@media (width <=810px) {
  .profile {
    padding-bottom: 70px;
  }

  .profile__body {
    flex-direction: column;
  }

  .profile__box {
    margin-left: 30px;
    margin-bottom: 40px;
  }

  .profile__orders {
    width: auto;
    flex-grow: 1;
  }
}

@media (width <=766px) {
  .profile__terms {
    flex-direction: column;
    padding: 16px 0;
  }

  .profile__term + .profile__term {
    margin-left: 0;
    margin-top: 15px;
  }

  .profile__names-right {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .profile__names {
    flex-wrap: wrap;
  }

  .profile__heading {
    margin-bottom: 15px;
  }
}

@media (width <=510px) {
  .profile__box {
    min-width: auto;
    margin-left: 0;
  }

  .profile__orders {
    margin-left: 0;
  }

  .orders__items {
    display: flex;
    flex-wrap: wrap;
    background-color: transparent;
    border: none;
  }

  .orders__name.heading {
    display: none;
  }

  .orders__cost.heading {
    display: none;
  }

  .orders__date.heading {
    display: none;
  }

  .orders__status.heading {
    display: none;
  }

  .orders__name {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .orders__date,
  .orders__cost,
  .orders__status {
    width: 32%;
    display: block;
    white-space: nowrap;
    text-align: left;
    font-size: 10px;
    line-height: 147.69%;
    background: #f3f3f3;
  }

  .orders__date::before {
    content: 'Дата';
    margin-right: 4px;
  }

  .orders__cost::before {
    content: 'Цена';
    margin-right: 4px;
  }

  .orders__status::before {
    content: 'Статус';
    margin-right: 4px;
  }
}

@media (width <=450px) {
  .profile__total,
  .profile__rules {
    max-width: 106px;
  }
}
