.signup {
  padding: 88px 0 79px;

  // .signup__inner

  &__inner {
    max-width: 315px;
    margin: 0 auto;
    text-align: center;
  }

  // .signup__title

  &__title {
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 50px;

    @media (width <=992px) {
      font-size: 24px;
      line-height: 24px;
    }
  }

  // .signup__form-btn

  &__form-btn {
    width: 100%;
    padding: 12px 42px 9px;
  }
}

@media (width <=540px) {
  .signup {
    padding: 30px 0 45px;
  }
}
