$main: #245462;
$text: #414141;

$mobile: '(max-width: 768px)';
$tablet: '(max-width: 1200px)';

%pop-up {
  position: fixed;
  z-index: 2;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(#000, 0.5);
  display: none;

  &.shown {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

%pop-up-body {
  max-width: 480px;
  width: 100%;
  overflow: auto;
  padding: 30px 20px;
  background: rgb(243 243 243 / 100%);
  backdrop-filter: blur(14px);
  box-shadow: 2px 2px 8px rgb(0 0 0 / 10%);
}
